.message {
    border-radius: 50px;
    margin: 0 15px 10px;
    padding: 15px 20px;
    position: relative;
    font-weight: bold;
}
.message.to {
    background-color: #2095FE;
    color: #fff;
    margin-left: 100px;
    text-align: right;
}
.message.from {
    background-color: #E5E4E9;
    color: #363636;
    margin-right: 100px;
}
.message.to + .message.to,
.message.from + .message.from {
margin-top: -10px;
}
 
button{
    background-color:#2095FE; 
    border:#2095FE;
}
input{
    border:0.1rem solid #d1d1d1 !important;
} 
​.header
{
    height:30px; 

}
.content
{
    position:absolute;
    top: 50px;
    left:0px;
    right:0px;
    bottom:140px;
    overflow-y:scroll;  
    margin-top: 10px;      
}
.footer {
    position: fixed; 
    bottom: 90px;
    left: 0;
    right: 0;
    height: 50px;
    padding: 5px;
}
a:link{
    word-break: break-all;
}

